.DS_Store
src/
tarballs/
build/
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/
*.xcodeproj/xcuserdata/*.xcuserdatad/
librdf.ios.xcodeproj/project.xcworkspace/xcshareddata/librdf.ios.xccheckout